#emoji{
    margin-left: 2.2rem;
    background: #F0F0F0;
    border-radius: 100rem;
    height: 3.5rem;
}
input.ui.input:focus{
    outline: none;
}

::placeholder{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 3rem;


    color: #A7A7A7;
}
input.ui.input{
    width: 67rem;
    background: #F0F0F0;
    border-radius: 4.5rem;
    border: none;
    height: 3.5rem;
    font-size: 1.5rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 2rem;
    padding-left: 2rem;
    transition: all 0.5s ease;
}

input.not.ui.input{
    width: 67rem;
    background: #181818;
    color: white;
    border-radius: 4.5rem;
    border: none;
    height: 3.5rem;
    font-size: 1.5rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 2rem;
    padding-left: 2rem;
    transition: all 0.5s ease;
}