 .ui.secondary.menu{
    padding-top: 2rem;
    
}

#chath3{
    color: black;
}

h3.span{
    color: #461EB8;
}

.main{
    color: white;
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 4.2rem;
} 
.ui.secondary.menu .active.item{
    background: rgba(0,0,0,0);
}

.ui.secondary.menu .item{
    color: white;
    line-height: 150%;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}



@media(max-width: 998px) {
    html{
        font-size: 55%;
    }
}

/* @media(min-width: 480px) and (max-width: 767px){
    html{
        font-size: 30%;
    }
} */
 @media(max-width: 830px) {
    html{
        font-size: 48%;
    }
} 
